/* css styles */

.hero {
    text-align: center;

    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 0px !important;
}
.hero-content {
    height: 100%;
    padding: 6rem 0 !important;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero .subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

.hero .actions {
    font-size: 1.25rem;
    font-weight: 300;

}

/* Restrict the image to be a square. */
.square-image {
    object-fit: cover;
    aspect-ratio: 1/1;
}

.bank-account {
    white-space: pre-line;
}

.qrcode {
    max-width: 200px;
}

.medium-image {
    width: 50%;
}

@media (max-width: 768px) {
    .medium-image {
        width: 100%;
    }
}

.right-image {
    max-width: 50%;
    float: right;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .right-image {
        width: 100%;
        float: none;
    }
}

.page-cta {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
     background: #f2e6cc;
     border-radius: 10px;
}

.page-cta a {
    border-radius: 5px;
}

.address {
    white-space: pre-line;
}

.contact h4 {
    margin-top: 0px;
    margin-bottom: 0px !important;
}